* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Karla, sans-serif;
    background-color:#0B2434;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#root {
    height: 100%;
    width: 100%;
    max-height: 750px;
    max-width: 750px;
}

main {
    border-radius: 15px;
    background-color: #F5F5F5;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

button {
    width: 80px;
    height: 80px;
    background-color: #fff;
    margin: 20px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
}

.dice-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);  
    margin-bottom: 40px;
}

span {
    font-size: 2.2rem;
    font-weight: 500;
    font-family: Karla, sans-serif;
    cursor: pointer;
}

.btn-roll {
    padding: 0 25px;
    white-space: nowrap;
    width: auto;
    height: 60px;
    background-color: dodgerblue;
    color: #fff;

    font-size: 1.75rem;
    font-weight: 500;
    font-family: Karla, sans-serif;

    margin-bottom: 40px;
}

.title {
    font-size: 3rem;
    margin: 0;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
    font-size: 1.3rem;
    padding: 0 40px;
}

/* 仅屏幕阅读器：让内容完全不可见，但又能被屏幕阅读器朗读出来 */
.sr-only { 
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    background-color: aqua;
}



